@font-face {
  font-family: "iconfont2"; /* Project id 4122073 */
  src: url('iconfont.woff2?t=1686882373315') format('woff2'),
       url('iconfont.woff?t=1686882373315') format('woff'),
       url('iconfont.ttf?t=1686882373315') format('truetype'),
       url('iconfont.svg?t=1686882373315#iconfont') format('svg');
}

.iconfont2 {
  font-family: "iconfont2" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-zanting:before {
  content: "\e644";
}

.icon-kaishi:before {
  content: "\e60f";
}

.icon-dianzan:before {
  content: "\e60d";
}

.icon-xihuan-xianxing:before {
  content: "\e8c3";
}

.icon-cai:before {
  content: "\e6c5";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-xiazai:before {
  content: "\e612";
}

.icon-xinlangweibo:before {
  content: "\e60c";
}

.icon-qq:before {
  content: "\e615";
}

.icon-zhifubaozhifu:before {
  content: "\e65e";
}

.icon-github:before {
  content: "\e85a";
}

.icon-zhifubao:before {
  content: "\e8e4";
}

.icon-facebook:before {
  content: "\e87e";
}

.icon-linkedin-fill:before {
  content: "\e890";
}

.icon-gitlab:before {
  content: "\e6f6";
}

.icon-weixin:before {
  content: "\e8bb";
}

.icon-Instagram:before {
  content: "\e62c";
}

.icon-yun1:before {
  content: "\e656";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-telegram:before {
  content: "\e85b";
}

.icon-neirongwendang:before {
  content: "\e60b";
}

.icon-rili:before {
  content: "\e620";
}

.icon-baogao-copy:before {
  content: "\e647";
}

.icon-biaoge:before {
  content: "\e63e";
}

.icon-shouji:before {
  content: "\e60e";
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-tubiao-zhuzhuangtu:before {
  content: "\eb97";
}

.icon-bijibendiannao:before {
  content: "\eabb";
}

.icon-liebiao:before {
  content: "\eaf8";
}

.icon-liebiao1:before {
  content: "\ec6b";
}

.icon-24gl-chartPie:before {
  content: "\e847";
}

.icon-24gf-chartScatter:before {
  content: "\e849";
}

.icon-tubiao:before {
  content: "\e61a";
}

.icon-diannao:before {
  content: "\e625";
}

.icon-duoyun:before {
  content: "\e600";
}

.icon-yun:before {
  content: "\e601";
}

.icon-wuqi:before {
  content: "\e602";
}

.icon-xiaoyu:before {
  content: "\e603";
}

.icon-leidian:before {
  content: "\e604";
}

.icon-feng:before {
  content: "\e605";
}

.icon-lieri:before {
  content: "\e606";
}

.icon-yujiaxue:before {
  content: "\e607";
}

.icon-daxue:before {
  content: "\e608";
}

.icon-zhongxue:before {
  content: "\e609";
}

.icon-dayu:before {
  content: "\e60a";
}

.icon-tianqi:before {
  content: "\e61b";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-yunduanxiazai:before {
  content: "\ec1d";
}

.icon-yunduanshangchuan:before {
  content: "\ec1e";
}

.icon-daoru:before {
  content: "\e6cf";
}

.icon-daochu:before {
  content: "\e65b";
}

.icon-zhuxiao:before {
  content: "\e62a";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-yulan:before {
  content: "\e65c";
}

.icon-fanyi:before {
  content: "\e6ba";
}

.icon-jingdong_:before {
  content: "\e631";
}

.icon-linkedin:before {
  content: "\e87d";
}

